################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TLDR-Dictionary-of-Algorithms-and-Data-Structures/v15
